In [1]:
# Dependencies
import requests
import pandas as pd
from census import Census

In [2]:
car_prices_csv = "prices_clean.csv"
car_prices_df = pd.read_csv(car_prices_csv)
# car_prices_df.head()
# print(car_prices_df.count())
car_makes = car_prices_df["make"].unique()
# print(car_makes)
honda_df = car_prices_df.loc[car_prices_df["make"]==car_makes[0]]
print(honda_df)
# honda_most_exp = honda_df.loc[honda_df["price"] == honda_df["price"].max()]
# honda_least_exp = honda_df.loc[honda_df["price"] == honda_df["price"].min()]
# print(honda_least_exp["model"].iloc[0])
# print(honda_most_exp)
# print(honda_least_exp)
test = honda_df["price"].loc[honda_df["model"]=="Elevate"].iloc[0]
print(test)

    year   make                        model    price
0   2023  Honda                      Elevate  14530.0
1   2023  Honda                            e  37140.0
2   2023  Honda                    e Advance  37140.0
3   2023  Honda              Pilot Elite AWD  52030.0
4   2023  Honda   Pilot EX-L 8-Passenger AWD  42310.0
5   2023  Honda   Pilot EX-L 8-Passenger 2WD  41950.0
6   2023  Honda              Pilot Sport 4WD  40080.0
7   2023  Honda                  City ZX CVT  19350.0
8   2023  Honda                   City V CVT  16510.0
9   2023  Honda        New City ZX Petrol MT  17880.0
10  2023  Honda        New City VX Petrol MT  16400.0
11  2023  Honda          City Hybrid eHEV ZX  24770.0
12  2023  Honda           City Hybrid eHEV V  22970.0
13  2023  Honda         New City V Petrol MT  15030.0
14  2023  Honda        New City SV Petrol MT  14010.0
15  2023  Honda           City Hybrid ZX CVT  28520.0
16  2023  Honda            City Hybrid V CVT  26450.0
17  2023  Honda                       City V  17500.0
18  2023  Honda                      City SV  16260.0
19  2023  Honda                  City Hybrid  26640.0
20  2023  Honda                   HR-V VTi-S  28230.0
21  2023  Honda                     HR-V VTi  27470.0
22  2023  Honda                    Accord EX  29610.0
23  2023  Honda  Civic Type R Touring Manual  43290.0
24  2023  Honda                Passport EX-L  41100.0
25  2023  Honda               Pilot EX-L AWD  42310.0
26  2023  Honda                CR-V EX-L AWD  35260.0
27  2023  Honda                  CR-V EX AWD  32610.0
28  2023  Honda        CR-V Hybrid Sport AWD  33950.0
29  2023  Honda         Civic Type R Touring  42890.0
30  2023  Honda            Civic Sport Sedan  24650.0
31  2023  Honda        Accord Hybrid Sport-L  33870.0
32  2023  Honda                 Accord Sedan  28000.0
33  2023  Honda                         ZR-V  25000.0
14530.0

In [3]:
# Function to calculate monthly car payment
def monthly_pay(p,r,n):
    # p = Principal
    # r = Interest rate/12
    r = r/12
    # n = Loan term (months)
    return (p/((pow(1+r,n)-1)/(r*pow(1+r,n))))

# Assume 72 month (6-year) car loan term
# Assume 9.09% APR (Estimate based on credit rating 660-719)

# Principal
p = 20500
# Interest rate
r = 0.09
# Loan term (months)
n = 72
monthly_payment = monthly_pay(p,r,n)
monthly_payment

369.52351194957026

In [4]:
# Testing Monthly Payment Budget and Monthly Payment

# Assume average annual_income: $65k
# Assume 10% of monthly income budgeted for car payment
annual_income = 65000
monthly_income = annual_income/12
monthly_payment_budget = monthly_income*0.1
print(f"Monthly payment budget: {monthly_payment_budget}")

principal = honda_df["price"].loc[honda_df["model"]=="Elevate"].iloc[0]
interest_rate = 0.0909
loan_term = 72
monthly_payment = monthly_pay(principal,interest_rate,loan_term)
print(f"Monthly payment for Honda Elevate: {monthly_payment}")

Monthly payment budget: 541.6666666666667
Monthly payment for Honda Elevate: 262.5605489178993

In [5]:
# List affordable Honda cars
honda_list = honda_df.loc[monthly_pay(honda_df["price"],interest_rate,loan_term) < monthly_payment_budget]
print(honda_list)

# Calculate percentage affordable of all Honda cars
percentage_affordable = 100*(honda_list.count()["model"])/(honda_df.count()["model"])
print(percentage_affordable)

    year   make                  model    price
0   2023  Honda                Elevate  14530.0
7   2023  Honda            City ZX CVT  19350.0
8   2023  Honda             City V CVT  16510.0
9   2023  Honda  New City ZX Petrol MT  17880.0
10  2023  Honda  New City VX Petrol MT  16400.0
11  2023  Honda    City Hybrid eHEV ZX  24770.0
12  2023  Honda     City Hybrid eHEV V  22970.0
13  2023  Honda   New City V Petrol MT  15030.0
14  2023  Honda  New City SV Petrol MT  14010.0
15  2023  Honda     City Hybrid ZX CVT  28520.0
16  2023  Honda      City Hybrid V CVT  26450.0
17  2023  Honda                 City V  17500.0
18  2023  Honda                City SV  16260.0
19  2023  Honda            City Hybrid  26640.0
20  2023  Honda             HR-V VTi-S  28230.0
21  2023  Honda               HR-V VTi  27470.0
22  2023  Honda              Accord EX  29610.0
30  2023  Honda      Civic Sport Sedan  24650.0
32  2023  Honda           Accord Sedan  28000.0
33  2023  Honda                   ZR-V  25000.0
58.8235294117647

In [9]:
# Calculate percentage affordable of all cars
# Assumptions:
#   9.09% APR (Estimate based on credit rating 660-719)
#   72 month (6-year) car loan term
#   $65k average annual income
#   10% of monthly income budgeted for car payment

interest_rate = 0.0909
loan_term = 72

annual_income = 65000
monthly_income = annual_income/12
monthly_payment_budget = monthly_income*0.1

print(car_makes)
cars_percent_affordable = []

for car in car_makes:
    car_df = car_prices_df.loc[car_prices_df["make"]==car]
    car_models = car_df.loc[monthly_pay(car_df["price"],interest_rate,loan_term) < monthly_payment_budget]
    percent_affordable = 100*(car_models.count()["model"])/(car_df.count()["model"])
    cars_percent_affordable.append(percent_affordable)

print(cars_percent_affordable)

affordable_cars = {
    "Car Make":car_makes,
    "Percent Affordable":cars_percent_affordable
}

affordable_cars_df = pd.DataFrame(affordable_cars)
affordable_cars_df

['Honda' 'BMW' 'Lexus' 'Hyundai' 'Toyota' 'KIA' 'Nissan' 'Audi'
 'Chevrolet' 'Ford' 'Mercedes' 'Porsche' 'Infiniti' 'Jaguar' 'Cadillac'
 'Land Rover' 'Jeep' 'Volkswagen' 'Maserati' 'Subaru' 'Dodge' 'Mazda'
 'Chrysler' 'Aston Martin' 'Ferrari' 'Lamborghini' 'GMC' 'Bentley'
 'Bugatti' 'Rolls Royce' 'Mclaren' 'Alfa Romeo' 'Lincoln' 'Volvo' 'MINI'
 'Acura' 'Fiat' 'Genesis' 'Buick' 'Tesla']
[58.8235294117647, 0.0, 0.0, 52.17391304347826, 42.5, 32.142857142857146, 18.181818181818183, 0.0, 20.0, 6.976744186046512, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 20.0, 0.0, 30.434782608695652, 0.0, 39.285714285714285, 3.7037037037037037, 0.0, 0.0, 0.0, 8.695652173913043, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 50.0, 0.0, 46.15384615384615, 0.0, 35.483870967741936, 0.0]

        Car Make  Percent Affordable
0          Honda           58.823529
1            BMW            0.000000
2          Lexus            0.000000
3        Hyundai           52.173913
4         Toyota           42.500000
5            KIA           32.142857
6         Nissan           18.181818
7           Audi            0.000000
8      Chevrolet           20.000000
9           Ford            6.976744
10      Mercedes            0.000000
11       Porsche            0.000000
12      Infiniti            0.000000
13        Jaguar            0.000000
14      Cadillac            0.000000
15    Land Rover            0.000000
16          Jeep            0.000000
17    Volkswagen           20.000000
18      Maserati            0.000000
19        Subaru           30.434783
20         Dodge            0.000000
21         Mazda           39.285714
22      Chrysler            3.703704
23  Aston Martin            0.000000
24       Ferrari            0.000000
25   Lamborghini            0.000000
26           GMC            8.695652
27       Bentley            0.000000
28       Bugatti            0.000000
29   Rolls Royce            0.000000
30       Mclaren            0.000000
31    Alfa Romeo            0.000000
32       Lincoln            0.000000
33         Volvo            0.000000
34          MINI           50.000000
35         Acura            0.000000
36          Fiat           46.153846
37       Genesis            0.000000
38         Buick           35.483871
39         Tesla            0.000000