In [19]:
# Dependencies
import requests
import pandas as pd
from census import Census

In [20]:
# Import U.S. Census API Key
from api_key import api_key

# Create an instance of the Census library
c = Census(
    api_key,
    year = 2020
)

## Retrieve data from the U.S. Census using the Census library

References:

* Review the following page to review the Python library documentation: <https://github.com/CommerceDataService/census-wrapper>

* Review the following page to learn more about the data labels: <https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b>

In [21]:
api_key

'9e43867a81ebd3ab527c43e714f159626edcd14e'

In [22]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
census_data = c.acs5.get(
    (
        "NAME",
        "B19013_001E",
        "B01003_001E",
        "B01002_001E",
        "B19301_001E",
        "B17001_002E"
    ),
    {'for': 'state:*'}
)

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column renaming
census_pd = census_pd.rename(
    columns = {
        "B01003_001E": "Population",
        "B01002_001E": "Median Age",
        "B19013_001E": "Household Income",
        "B19301_001E": "Per Capita Income",
        "B17001_002E": "Poverty Count",
        "NAME": "Name",
        "state": "State"
    }
)

# Add a Poverty Rate column (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

# Configure the final DataFrame
census_pd = census_pd[
    [
        "State",
        "Population",
        "Median Age",
        "Household Income",
        "Per Capita Income",
        "Poverty Count",
        "Poverty Rate"
    ]
]

# Display DataFrame length and sample data
print(f"Number of rows in the DataFrame: {len(census_pd)}")
census_pd

Number of rows in the DataFrame: 52

,State,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,42,12794885.0,40.9,63627.0,35518.0,1480430.0,11.570483
1,06,39346023.0,36.7,78672.0,38576.0,4853434.0,12.335259
2,54,1807426.0,42.7,48037.0,27346.0,300152.0,16.606600
3,49,3151239.0,31.1,74197.0,30986.0,283360.0,8.992019
4,36,19514849.0,39.0,71117.0,40898.0,2581048.0,13.226072
5,11,701974.0,34.1,90842.0,58659.0,103391.0,14.728608
6,02,736990.0,34.6,77790.0,37094.0,74369.0,10.090910
7,12,21216924.0,42.2,57703.0,32848.0,2772939.0,13.069468
8,45,5091517.0,39.7,54864.0,30727.0,726470.0,14.268243
9,38,760394.0,35.2,65315.0,36289.0,77491.0,10.190901
10,23,1340825.0,44.8,59489.0,33774.0,144384.0,10.768296
11,13,10516579.0,36.9,61224.0,32427.0,1461572.0,13.897789
12,01,4893186.0,39.2,52035.0,28934.0,762642.0,15.585796
13,33,1355244.0,43.0,77923.0,41234.0,97418.0,7.188226
14,41,4176346.0,39.5,65667.0,35393.0,506558.0,12.129215
15,56,581348.0,38.0,65304.0,34415.0,61006.0,10.493887
16,04,7174064.0,37.9,61529.0,32340.0,990528.0,13.807069
17,22,4664616.0,37.2,50800.0,29522.0,845230.0,18.120034
18,18,6696893.0,37.8,58235.0,30693.0,838149.0,12.515490
19,16,1754367.0,36.6,58915.0,29494.0,205676.0,11.723659
20,09,3570549.0,41.1,79855.0,45668.0,339156.0,9.498707
21,15,1420074.0,39.4,83173.0,37013.0,127971.0,9.011573
22,17,12716164.0,38.3,68428.0,37306.0,1488670.0,11.706911
23,25,6873003.0,39.6,84385.0,45555.0,653454.0,9.507547
24,48,28635442.0,34.8,63826.0,32177.0,3984260.0,13.913737
25,30,1061705.0,40.1,56539.0,32463.0,132476.0,12.477666
26,31,1923826.0,36.6,63015.0,33205.0,193820.0,10.074716
27,39,11675275.0,39.5,58116.0,32465.0,1546011.0,13.241752
28,08,5684926.0,36.9,75231.0,39545.0,544232.0,9.573247
29,34,8885418.0,40.0,85245.0,44153.0,842704.0,9.484123
30,24,6037624.0,38.8,87063.0,43352.0,531553.0,8.804010
31,51,8509358.0,38.4,76398.0,41255.0,826708.0,9.715281
32,50,624340.0,42.8,63477.0,35854.0,64700.0,10.362943
33,37,10386227.0,38.9,56642.0,31993.0,1411939.0,13.594340
34,05,3011873.0,38.3,49475.0,27724.0,470190.0,15.611216
35,53,7512465.0,37.8,77006.0,40837.0,751044.0,9.997304
36,20,2912619.0,36.9,61091.0,32798.0,323644.0,11.111786
37,40,3949342.0,36.7,53840.0,29873.0,585520.0,14.825761
38,55,5806975.0,39.6,63293.0,34450.0,620947.0,10.693123
39,28,2981835.0,37.7,46511.0,25444.0,564439.0,18.929250
40,29,6124160.0,38.7,57290.0,31839.0,772992.0,12.622009
41,26,9973907.0,39.8,59234.0,32854.0,1337256.0,13.407544
42,44,1057798.0,40.0,70305.0,37504.0,117785.0,11.134924
43,27,5600166.0,38.1,73382.0,38881.0,511185.0,9.128033
44,19,3150011.0,38.3,61836.0,33021.0,339090.0,10.764724
45,35,2097021.0,38.1,51243.0,27945.0,381026.0,18.169870
46,32,3030281.0,38.2,62043.0,32629.0,381695.0,12.596027
47,10,967679.0,41.0,69110.0,36574.0,107641.0,11.123627
48,72,3255642.0,42.4,21058.0,13318.0,1400958.0,43.031697
49,21,4461952.0,39.0,52238.0,29123.0,717895.0,16.089259
50,46,879336.0,37.2,59896.0,31415.0,108863.0,12.380137
51,47,6772268.0,38.8,54833.0,30869.0,965213.0,14.252434

In [35]:
# Define a dictionary to map FIPS state codes to state names
state_code_to_name = {
    1: 'Alabama',
    2: 'Alaska',
    4: 'Arizona',
    5: 'Arkansas',
    6: 'California',
    8: 'Colorado',
    9: 'Connecticut',
    10: 'Delaware',
    12: 'Florida',
    13: 'Georgia',
    15: 'Hawaii',
    16: 'Idaho',
    17: 'Illinois',
    18: 'Indiana',
    19: 'Iowa',
    20: 'Kansas',
    21: 'Kentucky',
    22: 'Louisiana',
    23: 'Maine',
    24: 'Maryland',
    25: 'Massachusetts',
    26: 'Michigan',
    27: 'Minnesota',
    28: 'Mississippi',
    29: 'Missouri',
    30: 'Montana',
    31: 'Nebraska',
    32: 'Nevada',
    33: 'New Hampshire',
    34: 'New Jersey',
    35: 'New Mexico',
    36: 'New York',
    37: 'North Carolina',
    38: 'North Dakota',
    39: 'Ohio',
    40: 'Oklahoma',
    41: 'Oregon',
    42: 'Pennsylvania',
    44: 'Rhode Island',
    45: 'South Carolina',
    46: 'South Dakota',
    47: 'Tennessee',
    48: 'Texas',
    49: 'Utah',
    50: 'Vermont',
    51: 'Virginia',
    53: 'Washington',
    54: 'West Virginia',
    55: 'Wisconsin',
    56: 'Wyoming',
}

In [36]:
census_pd['State'] = census_data['State'].replace(state_code_to_name)
census_pd

TypeError: list indices must be integers or slices, not str

In [30]:
state_code_to_name

{1: 'Alabama',
 2: 'Alaska',
 4: 'Arizona',
 5: 'Arkansas',
 6: 'California',
 8: 'Colorado',
 9: 'Connecticut',
 10: 'Delaware',
 12: 'Florida',
 13: 'Georgia',
 15: 'Hawaii',
 16: 'Idaho',
 17: 'Illinois',
 18: 'Indiana',
 19: 'Iowa',
 20: 'Kansas',
 21: 'Kentucky',
 22: 'Louisiana',
 23: 'Maine',
 24: 'Maryland',
 25: 'Massachusetts',
 26: 'Michigan',
 27: 'Minnesota',
 28: 'Mississippi',
 29: 'Missouri',
 30: 'Montana',
 31: 'Nebraska',
 32: 'Nevada',
 33: 'New Hampshire',
 34: 'New Jersey',
 35: 'New Mexico',
 36: 'New York',
 37: 'North Carolina',
 38: 'North Dakota',
 39: 'Ohio',
 40: 'Oklahoma',
 41: 'Oregon',
 42: 'Pennsylvania',
 44: 'Rhode Island',
 45: 'South Carolina',
 46: 'South Dakota',
 47: 'Tennessee',
 48: 'Texas',
 49: 'Utah',
 50: 'Vermont',
 51: 'Virginia',
 53: 'Washington',
 54: 'West Virginia',
 55: 'Wisconsin',
 56: 'Wyoming'}